*{ 
    box-sizing: border-box;
}
body{
    background:white;
    text-align: center;
    margin: 0;
    padding: 0;
}
#nameApp{
  font-family: helvetica;
  font-size: 40px;
  color: black;
}


/*Comienza estilo de menú*/
a
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease;
}
a:hover
{
  color:black;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer; 
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #F2B705;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #F2B705;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
/*Termina menú*/

.buttonsFilter{
  background:#F2B705;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  border: 5px #F2B705;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
}
.buttonsFilter:hover{
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

/*Comienza search*/

input[type=text] {
  width: 60px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 70%;
}
/*Termina search*/


header{
  margin-top: 30px;
  width: 100%;
  position: fixed;
}
#intro > p {
  font-family: helvetica;
  font-size: 20px;
  padding: 20px 50px 0 50px;
  width: 50%;
  margin: 0 auto;

}
.circle:before {
  content: ' \25CF';
  font-size: 20px;
  color: black;
}
.circle2:before {
  content: ' \25CF';
  font-size: 20px;
  color:#F2B705;
}
.buttons{
  background: #F2B705;
  border-radius: 0px;
  font-family:Helvetica;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  width: 230px;
  color:white;
  margin-top: 20px;
  margin-bottom: 5%;
  letter-spacing: 1px;
  cursor: pointer;
}
.introform {
  font-family: helvetica;
  font-size: 20px;
}
.txtform{
  font-family: helvetica;
  font-size: 14px;
}
#formParents {
  margin-top: 20px;
  font-family: helvetica;
}
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: helvetica;
}
#buttonPlus {
  border-radius: 100%;
  background-color:black;
  border-style: solid;
  border: black;
  color:#F2B705;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}
.imgDumbo{
 max-width: 40%;
}

iframe {
  margin-top: 50px;
  width: 800px;
  height: 500px;
}

/* Comienzan testimonios */
.container {
  display: inline-block;
  text-align: center;
  width: 40%;
  border:none;
  border: 2px solid #F2B705;
  background-color:  #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
  
}

.container::after {
  content: "";
  clear: both;
  display: inline;
}

.container img {
  float: center;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}



/* Color Theme Swatches in Hex */
.Start-Smart-1-hex { color: #62CDD9; }
.Start-Smart-2-hex { color: #F2B705; }
.Start-Smart-3-hex { color: #F29F05; }
.Start-Smart-4-hex { color: #BF7E04; }
.Start-Smart-5-hex { color: #D97971; }
